.blue{
  background: #1565c0 ;
  color: white;
}

.dark_blue{
  background: #003c8f;
  color: white;
}

.red{
  background: #b71c1c;
  color: white;
}

.dark_red{
  background: #7f0000;
  color: white;
}

.green{
  background: #1b5e20;
  color: white;
}

.purple{
  background: #4a148c;
  color: white;
}

.grey{
  background: #424242;
  color: white
}

li{
  list-style-type: none;
  border-radius: 20px;
}

img{
  width: 300px;
  height: 300px;
}
