.bg-rojodark {
    background-color: rgb(179, 0, 0);
}

.text-rojodark {
    color: rgb(179, 0, 0);
}

.azuldark {
    color:darkslateblue;
}

.bg-violet {
    background-color: violet;
}

.violet {
    color:violet;
}

ul#info {
    margin-top: 10px;
}

ul#info li {
    list-style-type: none;
    margin-left: -25px;
}