<!--noticias en grande-->
<div class="card bg-light border-light" style="max-width: min-content;">
  <img width="345" height="200" src="{{news.url}}" alt="">
  <div class="card-body">
    <div *ngIf="news.categoria == 'Entretenimiento'">
      <h2 class="card-tittle text-{{verde}}">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div class="text-center mt-4">
        <button class="btn text-{{blanco}} bg-{{verde}}" data-toggle="modal" data-target="#contenido-modal">
          {{news.boton}}
        </button>
      </div>
    </div>
    <div *ngIf="news.categoria == 'Mundo'">
      <h2 class="card-tittle text-{{azul}}">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div class="text-center mt-4">
        <button href="#" class="btn text-{{blanco}} bg-{{azul}}" data-toggle="modal" data-target="#contenido-modal">
          {{news.boton}}
        </button>
      </div>
    </div>
    <div *ngIf="news.categoria == 'Deportes'">
      <h2 class="card-tittle" style="color:gray">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div class="text-center mt-4">
        <button href="#" class="btn text-{{blanco}} bg-{{rojo}}" data-toggle="modal" data-target="#contenido-modal">
          {{news.boton}}
        </button>
      </div>
    </div>
  </div>
</div>