.bg-rojodark {
    background-color: rgb(179, 0, 0);
}

.text-rojodark {
    color: rgb(179, 0, 0);
}

.azuldark {
    color:darkslateblue;
}

.bg-violet {
    background-color: violet;
}

.violet {
    color:violet;
}