<!--noticias en grande-->
<div class="card bg-light border-light" style="max-width: min-content;">
  <img width="345" height="200" src="{{news.url}}" alt="">
  <div class="card-body">
    <div *ngIf="news.categoria == 'Entretenimiento'">
      <h2 class="card-tittle text-{{verde}}">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div class="text-center mt-4">
        <button class="btn btn-outline-primary mb-2 mr-2 text-{{blanco}} bg-{{verde}}" (click)="openScrollableContent(longContent)">
          {{news.boton}}
        </button>
      </div>
    </div>
    <div *ngIf="news.categoria == 'Mundo'">
      <h2 class="card-tittle text-{{azul}}">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div class="text-center mt-4">
        <button class="btn btn-outline-primary mb-2 mr-2 text-{{blanco}} bg-{{azul}}" (click)="openScrollableContent(longContent)">
          {{news.boton}}
        </button>
      </div>
    </div>
    <div *ngIf="news.categoria == 'Deportes'">
      <h2 class="card-tittle" style="color:gray">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div class="text-center mt-4">
        <button class="btn btn-outline-primary mb-2 mr-2 text-{{blanco}} bg-{{rojoDark}}" (click)="openScrollableContent(longContent)">
          {{news.boton}}
        </button>
      </div>
    </div>
    <div *ngIf="news.categoria == 'Economia'">
      <h2 class="card-tittle text-{{violeta}}">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div class="text-center mt-4">
        <button class="btn btn-outline-primary mb-2 mr-2 text-{{blanco}} bg-{{violeta}" (click)="openScrollableContent(longContent)">
          {{news.boton}}
        </button>
      </div>
    </div>
    <div *ngIf="news.categoria == 'Salud'">
      <h2 class="card-tittle text-{{azulDark}}">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div class="text-center mt-4">
        <button class="btn btn-outline-primary mb-2 mr-2 text-{{blanco}} bg-{{azulDark}}" (click)="openScrollableContent(longContent)">
          {{news.boton}}
        </button>
      </div>
    </div>
    <div *ngIf="news.categoria == 'Tecnologia'">
      <h2 class="card-tittle text-{{rojo}}">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div class="text-center mt-4">
        <button class="btn btn-outline-primary mb-2 mr-2 text-{{blanco}} bg-{{rojo}}" (click)="openScrollableContent(longContent)">
          {{news.boton}}
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal diseño-->
<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{news.titulo}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{news.cuerpo}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>