<div *ngIf="news.id == 3 || news.id == 2 || news.id == 1; then noticias1 else noticias2">
  <!--Las 3 primeras noticias aparecen en grande mientras que el resto en más pequeño-->
</div>

<!--noticias en grande-->
<ng-template #noticias1>
  <div class="card bg-light border-light" style="max-width: min-content;">
    <img width="345" height="200" src="{{news.url}}" alt="">
    <div class="card-body">
      <div *ngIf="news.id == 1">
        <h2 class="card-tittle text-{{verde}}">{{news.titulo}}</h2>
        <p>{{news.cuerpo}}</p>
        <div class="text-center mt-4">
          <a href="#" class="btn text-{{blanco}} bg-{{verde}}">{{news.boton}}</a>
        </div>
      </div>
      <div *ngIf="news.id == 2">
        <h2 class="card-tittle text-{{azul}}">{{news.titulo}}</h2>
        <p>{{news.cuerpo}}</p>
        <div class="text-center mt-4">
          <a href="#" class="btn text-{{blanco}} bg-{{azul}}">{{news.boton}}</a>
        </div>
      </div>
      <div *ngIf="news.id == 3">
        <h2 class="card-tittle" style="color:gray">{{news.titulo}}</h2>
        <p>{{news.cuerpo}}</p>
        <div class="text-center mt-4">
          <a href="#" class="btn text-{{blanco}} bg-{{rojo}}">{{news.boton}}</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>
  
<!--noticias pequeñas-->
<ng-template #noticias2>
  <div class="card bg-light border-light" style="max-width: min-content;">
    <img width="250" height="250" src="{{news.url}}" alt="">
    <div class="card-body">
      <h2 class="card-tittle text-center" style="color:gray">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div class="text-center mt-4">
        <a href="#" class="btn text-dark bg-light" style="border: 3px solid gray">{{news.boton}}</a>
      </div>
    </div>
  </div>
</ng-template>