<div *ngIf="news.id == 3 || news.id == 2 || news.id == 1; then noticias1 else noticias2">
  <!--Las 3 primeras noticias aparecen en grande mientras que el resto en más pequeño-->
</div>

<!--noticias en grande-->
<ng-template #noticias1>
  <div class="card bg-light border-light" style="max-width: min-content;">
    <img width="345" height="200" src="{{news.url}}" alt="">
    <div class="card-body">
      <h2 class="card-tittle">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div *ngIf="news.id == 1">
        <div class="text-center">
          <a href="#" class="btn text-white bg-success">{{news.boton}}</a>
        </div>
      </div>
      <div *ngIf="news.id == 2">
        <div class="text-center">
          <a href="#" class="btn btn-primary">{{news.boton}}</a>
        </div>
      </div>
      <div *ngIf="news.id == 3">
        <div class="text-center">
          <a href="#" class="btn text-white bg-danger">{{news.boton}}</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>
  
<!--noticias pequeñas-->
<ng-template #noticias2>
  <div class="card bg-light border-light" style="max-width: min-content;">
    <img width="200" height="200" src="{{news.url}}" alt="">
    <div class="card-body">
      <h2 class="card-tittle">{{news.titulo}}</h2>
      <p>{{news.cuerpo}}</p>
      <div class="text-center">
        <a href="#" class="btn text-dark bg-light border-dark">{{news.boton}}</a>
      </div>
    </div>
  </div>
</ng-template>