<div class="container cortar">
    <img id="fotoPortada" src="{{URLfotoPortada}}" width="1105" height="200" alt="foto bosque">
</div>

<!--Noticias destacadas-->
<div class="container" style="text-align: -webkit-center">
    <div class="row mt-5 mb-5">
        <div class="col mb-5" *ngFor="let noticia of noticias_destacadas">
            <app-carta-noticias-destacadas [news] = noticia></app-carta-noticias-destacadas>
        </div>
    </div>
</div>

<!--Noticias otro-->
<div class="container" style="text-align: -webkit-center">
    <div class="row mt-5 mb-5">
        <div class="col mb-5" *ngFor="let noticia of noticias_otro">
            <app-carta-noticias-otro [news] = noticia></app-carta-noticias-otro>
        </div>
    </div>
</div>